Auto-ai-flows.json
[{"id":"8d2483cb.817f","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f3cfc36c.f347f","type":"ui_form","z":"8d2483cb.817f","name":"","label":"","group":"e51d050c.d02858","order":2,"width":0,"height":0,"options":[{"label":"Country","value":"a","type":"text","required":true,"rows":null},{"label":"Year","value":"b","type":"number","required":true,"rows":null},{"label":"Status","value":"c","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"d","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"e","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"f","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"g","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"h","type":"number","required":true,"rows":null},{"label":"Measles","value":"i","type":"number","required":true,"rows":null},{"label":"BMI","value":"j","type":"number","required":true,"rows":null},{"label":"Under five Deaths ","value":"k","type":"number","required":true,"rows":null},{"label":"Polio","value":"l","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"m","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"n","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"o","type":"number","required":true,"rows":null},{"label":"GDP","value":"p","type":"number","required":true,"rows":null},{"label":"Population","value":"q","type":"number","required":true,"rows":null},{"label":"Thinness 1-19 Years","value":"r","type":"number","required":true,"rows":null},{"label":"Thinness 5-9 Year","value":"s","type":"number","required":true,"rows":null},{"label":"Income Composition of Resourse","value":"t","type":"number","required":true,"rows":null},{"label":"Schoolong","value":"u","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"submit","cancel":"Reset","topic":"","x":100,"y":80,"wires":[["c8b4f142.2227d"]]},{"id":"c8b4f142.2227d","type":"function","z":"8d2483cb.817f","name":"PreToken","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\nvar apikey=\"NGp8_pqMDNyazO2zq6zG3Ya6D1NVcpsS-3cSW3eNE76g\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":200,"wires":[["97eceb54.b85d88"]]},{"id":"97eceb54.b85d88","type":"http request","z":"8d2483cb.817f","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":140,"y":340,"wires":[["3e539bf9.aef644"]]},{"id":"3e539bf9.aef644","type":"function","z":"8d2483cb.817f","name":"SendToEndpoint","func":"var token=msg.payload.access_token\nvar instance_id=\"8817f25a-2c21-4f95-84a7-ddad7dd70672\";\nmsg.headers={'content-type':'application/json',\"Authorization\":\"Bearer\"+token,\"ML-Instance-ID\":instance_id}\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\nmsg.payload={\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \"values\": [[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]}]}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":460,"wires":[["6d9c0236.49337c"]]},{"id":"6d9c0236.49337c","type":"http request","z":"8d2483cb.817f","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/0ac33cf0-9b6f-4057-a850-41d2986ef26f/predictions","tls":"","persist":false,"proxy":"","authType":"","x":380,"y":360,"wires":[["40c3dae1.70e5d4","9833e0f3.20383"]]},{"id":"40c3dae1.70e5d4","type":"debug","z":"8d2483cb.817f","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":460,"wires":[]},{"id":"9833e0f3.20383","type":"function","z":"8d2483cb.817f","name":"GetFromEndpoint","func":"msg.payload = msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":240,"wires":[["84fdea99.82c358","74bd5870.a6d1c8"]]},{"id":"84fdea99.82c358","type":"debug","z":"8d2483cb.817f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":520,"y":100,"wires":[]},{"id":"74bd5870.a6d1c8","type":"ui_text","z":"8d2483cb.817f","group":"e51d050c.d02858","order":3,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":340,"wires":[]},{"id":"e51d050c.d02858","type":"ui_group","z":"","name":"Predicting Life Expectancy Model","tab":"c17ff663.92bdc8","order":1,"disp":true,"width":"6","collapse":false},{"id":"c17ff663.92bdc8","type":"ui_tab","z":"","name":"Home","icon":"Dashboard","disabled":false,"hidden":false}]