With-python-flows.json
[{"id":"a2543412.148b98","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"142f5db9.f936a2","type":"ui_form","z":"a2543412.148b98","name":"","label":"","group":"c0c4dc29.5621e","order":2,"width":0,"height":0,"options":[{"label":"Country","value":"a","type":"text","required":true,"rows":null},{"label":"Year","value":"b","type":"number","required":true,"rows":null},{"label":"Status","value":"c","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"d","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"e","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"f","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"g","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"h","type":"number","required":true,"rows":null},{"label":"Measles","value":"i","type":"number","required":true,"rows":null},{"label":"BMI","value":"j","type":"number","required":true,"rows":null},{"label":"Under five Deaths ","value":"k","type":"number","required":true,"rows":null},{"label":"Polio","value":"l","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"m","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"n","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"o","type":"number","required":true,"rows":null},{"label":"GDP","value":"p","type":"number","required":true,"rows":null},{"label":"Population","value":"q","type":"number","required":true,"rows":null},{"label":"Thinness 1-19 Years","value":"r","type":"number","required":true,"rows":null},{"label":"Thinness 5-9 Year","value":"s","type":"number","required":true,"rows":null},{"label":"Income Composition of Resourse","value":"t","type":"number","required":true,"rows":null},{"label":"Schoolong","value":"u","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"submit","cancel":"Reset","topic":"","x":130,"y":60,"wires":[["54a3e1c6.5d02c"]]},{"id":"54a3e1c6.5d02c","type":"function","z":"a2543412.148b98","name":"PreToken","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\nvar apikey=\"NGp8_pqMDNyazO2zq6zG3Ya6D1NVcpsS-3cSW3eNE76g\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":180,"wires":[["9bcc4bb6.e5e2e8"]]},{"id":"9bcc4bb6.e5e2e8","type":"http request","z":"a2543412.148b98","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":320,"wires":[["a7c9f8d1.a4a068"]]},{"id":"a7c9f8d1.a4a068","type":"function","z":"a2543412.148b98","name":"SendToEndpoint","func":"var token=msg.payload.access_token\nvar instance_id=\"8817f25a-2c21-4f95-84a7-ddad7dd70672\";\nmsg.headers={'content-type':'application/json',\"Authorization\":\"Bearer\"+token,\"ML-Instance-ID\":instance_id}\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\nmsg.payload={\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \"values\": [[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":440,"wires":[["df5f63c6.d63db"]]},{"id":"df5f63c6.d63db","type":"http request","z":"a2543412.148b98","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/8817f25a-2c21-4f95-84a7-ddad7dd70672/deployments/84dcd7bc-d3da-4686-bd7a-d40117850061/online","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":340,"wires":[["426aea76.b62f44","4a1897af.108888"]]},{"id":"426aea76.b62f44","type":"debug","z":"a2543412.148b98","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":620,"y":440,"wires":[]},{"id":"4a1897af.108888","type":"function","z":"a2543412.148b98","name":"GetFromEndpoint","func":"msg.payload = msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":220,"wires":[["4d728a8a.b47464","59610cbc.bcc364"]]},{"id":"4d728a8a.b47464","type":"debug","z":"a2543412.148b98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":80,"wires":[]},{"id":"59610cbc.bcc364","type":"ui_text","z":"a2543412.148b98","group":"f1aba3ce.bd1b2","order":3,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":320,"wires":[]},{"id":"c0c4dc29.5621e","type":"ui_group","z":"","name":"Default","tab":"c17ff663.92bdc8","order":2,"disp":true,"width":"6","collapse":false},{"id":"f1aba3ce.bd1b2","type":"ui_group","z":"","name":"Default","tab":"c17ff663.92bdc8","order":3,"disp":true,"width":"6","collapse":false},{"id":"c17ff663.92bdc8","type":"ui_tab","z":"","name":"Home","icon":"Dashboard","disabled":false,"hidden":false}]